<div class="about">
  <h2 class="special-heading">About</h2>
  <p>Less is more work</p>
  <div class="about-content">
    <div class="about-img">
      <img src="assets/img/about/about.jpg" alt="" />
    </div>
    <div class="about-text">
      <p>
        Our company is a strong and distinguished firm, proud to serve you. We
        aspire to assist everyone in achieving their goals and strive to earn
        your trust.
      </p>
      <hr />
      <p>
        Our company stands out with a strong team spirit and a constant focus on
        customer satisfaction. We are committed to delivering the highest level
        of quality and professionalism in every service we provide
      </p>
    </div>
  </div>
</div>
